* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, Raleway, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

image {
  display: block;
}

.footer-newsletter__icon, .footer-media__icon, .client__icon, .team-media__icon, .contacts__icon {
  fill: currentColor;
}

.rules__link, .footer-media__link, .adress__link, .footer__link, .contacts__link, .nav-grid__link, .logo-grid__link {
  text-decoration: none;
  color: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active:after, .nav-grid__link:hover::after, .nav-grid__link:focus::after {
  position: absolute;
  bottom: -32px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.services__btn, .footer-newsletter__btn, .page-baner__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 4px;
  border-width: 0px;
  color: #000;
  background: #f5f4fa;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__title, .team__title, .job__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.services__comment, .services__input {
  padding: 14px 42px;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-menu {
  background-color: #fff;
  border-bottom: 1px solid #e4e8ee;
}

.logo-grid {
  padding: 24px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  font-weight: 500;
  color: #000;
}
.logo-grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
}
.logo-grid__link {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
}
.logo-grid__link:hover, .logo-grid__link:focus {
  color: #2196f3;
}
.logo-grid__text {
  color: #2196f3;
}

.nav-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
  list-style: none;
}
.nav-grid__link {
  position: relative;
}
.nav-grid__link:hover, .nav-grid__link:focus {
  color: #2196f3;
}
.active {
  position: relative;
  color: #2196f3;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  list-style: none;
}
.contacts__item {
  color: #757575;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.page-baner {
  margin: 0 auto;
  padding: 200px 0;
  font-weight: 900;
  line-height: 1.36;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 1600px, 1600px;
  background-position: 50% 50%, 50% 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bg.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bg.jpg);
}
.page-baner__title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-size: 44px;
  letter-spacing: 0.06em;
}
.page-baner__btn {
  padding: 10px 41px 10px 42px;
}
.page-baner__btn:hover, .page-baner__btn:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.description {
  padding: 94px 0;
  background-color: #fff;
}
.description__grid {
  margin-bottom: 94px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: none;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
}
.description__container {
  margin-bottom: 30px;
  padding: 25px 0;
  line-height: 0;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.description__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.description__text {
  color: #757575;
  line-height: 1.7;
}

.job__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: none;
  list-style: none;
}
.job__item {
  position: relative;
}
.job__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.team__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 30px;
  list-style: none;
}
.team__image-container {
  width: 270px;
  background-color: getcolorI("label");
  line-height: 1.1875;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__image-label {
  padding: 30px 0;
}
.team__image-name {
  font-weight: 500;
  margin-bottom: 10px;
}
.team__image-title {
  margin-bottom: 16px;
  color: #757575;
}

.team-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 10px;
  list-style: none;
}
.team-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media__link:hover, .team-media__link:focus {
  background-color: #2196f3;
  color: #fff;
}
.client {
  padding: 94px 0;
  background-color: #fff;
}
.client__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: none;
  list-style: none;
}
.client__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  height: 92px;
  width: 170px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item:hover,
.client__item :focus {
  color: #2196f3;
  border-color: #2196f3;
}
.footer {
  padding: 60px 0;
  background-color: #2f303a;
  color: #fff;
}
.footer__container {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__contact {
  margin-right: 70px;
}
.footer__link {
  display: block;
  margin-bottom: 20px;
  font-size: 700;
  font-size: 26px;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}
.footer__backlight {
  color: #2196f3;
}

.adress {
  font-style: normal;
}
.adress__label {
  margin-bottom: 9px;
}
.adress__link {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.footer-media {
  padding-top: 12px;
  margin-right: 78px;
}
.footer-media__title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-media__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 10px;
  list-style: none;
}
.footer-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media__link:hover, .footer-media__link:focus {
  background-color: #2196f3;
}
.footer-newsletter {
  padding-top: 12px;
  font-size: 0;
}
.footer-newsletter__label {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}
.footer-newsletter__title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer-newsletter__input {
  margin-right: 12px;
  display: inline-block;
  width: 358px;
  padding: 14px 0 14px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-newsletter__input:focus-within {
  border-color: #2196f3;
}
.footer-newsletter__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 10px 28px 10px 42px;
}
.footer-newsletter__btn:hover, .footer-newsletter__btnfocus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.portfolio {
  padding: 94px 0;
  background-color: #fff;
  font-size: 16px;
}

.filters {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: none;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 50px;
}
.filters__btn {
  padding: 6px 22px;
}
.filters__btn:hover, .filters__btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.photo__image-container {
  max-width: 370px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo__image-container:hover, .photo__image-container:focus {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo__image-container:hover .overlay, .photo__image-container:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.photo__item {
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
  text-align: left;
  cursor: pointer;
}
.photo__box {
  position: relative;
  overflow: hidden;
}
.photo__label {
  padding: 20px 0 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.photo__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.photo__descripion {
  line-height: 1.1875;
  color: getclot("photo-desption");
}
.photo__image {
  display: block;
}

.overlay {
  padding: 49px 0 0 25px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__label {
  width: 301px;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__box {
  padding: 40px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: auto;
}
.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: get-color("modal-box-bg");
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #fd5c63;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.services__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: #000;
}
.services__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}
.services__label:focus-within .services__icon {
  color: #2196f3;
}
.services__description {
  display: inline-block;
  margin-bottom: 4px;
}
.services__icon {
  fill: currentColor;
  position: absolute;
  color: #000;
  left: 15px;
  top: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__input:focus {
  border-color: #2196f3;
  fill: #2196f3;
  color: #000;
}
.services__comment {
  padding: 12px 16px;
  resize: vertical;
  min-height: 120px;
}
.services__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.services__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.services__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.services__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.services__comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.services__comment:focus {
  border-color: #2196f3;
  fill: #2196f3;
  color: #000;
}
.services__btn {
  margin: 0 auto;
  display: block;
  padding: 10px 76px;
}
.services__btn:hover, .services__btn:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: none;
  position: relative;
  margin-bottom: 30px;
  padding: 0 14px 0 38px;
}
.rules__label {
  position: static;
  font-size: 14px;
  line-height: 1.71;
}
.rules__link:hover, .rules__link:focus {
  color: #2196f3;
}
.rules__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 4px;
  left: 14px;
  cursor: pointer;
}
.rules__icon--check {
  visibility: hidden;
}
.rules__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.rules__input:checked ~ .rules__icon--check {
  visibility: visible;
}
.rules__input:checked ~ .rules__icon--vector {
  visibility: hidden;
}
.rules__input:not(:checked) ~ .rules__icon--vector {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */