.page-baner {
    margin: 0 auto;
    padding: 200px 0;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
    color: getcolor('baner');
    text-transform: uppercase;
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto, 1600px;
    background-position: 0%, 50% 50%;
    background-image: linear-gradient(to top, #2f303a66, #2f303a66), url(../images/header-bg.jpg);
    &__title {
        margin: 0 auto 30px;
        max-width: 696px;
        font-size: 44px;
        letter-spacing: 0.06em;
    }
    &__btn {
        padding: 10px 41px 10px 42px;
        @extend %btn;
        &:hover,
        &:focus {
            transform: scale(1.05);
        }
    }
}
