$standard-font-family: Roboto, Raleway, sans-serif;
$logo-font-family: Raleway, sans-serif;
$standard-font-size: 14px;
$footer-media-font-size: 16px;
$logo-font-size: 26px;
$services-font-size: 20px;
$h2-font-size: 36px;
$services-label-font-size: 12px;
$menu-font-weight: 500;
$logo-font-weight: 500;
$servies-font-weight: 700;
$image-title-font-weight: 500;
$logo-font-weight: 700;
$label-font-weight: 700;
$descritpion-title-font-weight: 700;
$h2-font-weight: 700;
$title-font-weight: 900;
$logo-line-height: 1.2;
$services-line-height: 1.15;
$standard-line-height: 1.14;
$title-line-height: 1.36;
$text-line-height: 1.7;
$h2-line-height: 1.16;
$label-line-height: 1.1875;
$footer-media-line-height: 1.25;
$services-label-line-height: 1.16;
